{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-btc fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id=price class="huge">{{crypto_price}}</div>
                                        <div>1 {{currency}}</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" data-load-url="/history/crypto/" data-toggle="modal" data-target="#chart">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-clock-o"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id=usd class="huge">{{usd}}</div>
                                        <div>﷼</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" data-load-url="/history/usd/" data-toggle="modal" data-target="#chart">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-clock-o"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id=total class="huge">{{usd|replace(",","")|float * crypto_price|float}}</div>
                                        <div>﷼</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" data-load-url="/history/crypto_ir/" data-toggle="modal" data-target="#chart">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-clock-o"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>                    
                </div>

                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
		</div>
        <!-- /#page-wrapper -->
<!-- Modal -->
<div class="modal fade" id="chart" tabindex="-1" role="dialog" aria-labelledby="chart" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chart_title">Chart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>      
  
  <script>
    $(document).ready(function() {
        setInterval("ajaxd()",1500); // call every 10 seconds
    });
    
    function ajaxd() { 
      $("#price").load("/crypto/update/{{currency}}");
      $("#usd").load("/usd/update/");
      $("#total").text(parseFloat($("#price").text()) * parseFloat($("#usd").text()));
    }

    $('#chart').on('show.bs.modal', function (e) {
        var loadurl = $(e.relatedTarget).data('load-url');
        $(this).find('.modal-body').load(loadurl);
    });
</script>
{% endblock %}